body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: #ffffff;
}

.navbar {
    background-color: #4f3b78;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
    font-family: 'Roboto', sans-serif;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}

.navbar a:hover {
    background-color: #600979;
    border-radius: 5px;
}

@keyframes animate {
    from {
        transform: translateX(-200px);
    }

    to {
        transform: translateX(0px);
    }
}

.about {
    background-color: black;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
    padding-left: 20px;
}

.about h {
    color: white;
    font-size: 50px;
    animation: animate 2s 1s forwards;
    margin: 20px 0;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
}

.contact {
    background-color: #4f3b78;
    padding: 20px;
    text-align: center;
    margin-bottom: 0;
}

.contact a {
    text-decoration: none;
    color: white;
    font-size: large;
    margin-left: 20px;
}

.contact a:hover {
    color: red;
    font-size: 25px;
}

@media (max-width: 768px) {
    .navbar ul {
        text-align: center;
    }

    .navbar li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .navbar a {
        padding: 10px 20px;
    }

    .about {
        height: auto;
        margin: 20px 10px;
        padding: 10px;
    }

    .about h {
        font-size: 30px;
    }

    .contact {
        padding: 10px;
    }

    .contact a {
        font-size: medium;
        margin-left: 10px;
    }

    .contact a:hover {
        font-size: 20px;
    }
}
